* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 80%;
    margin: 0 auto;
    /* background-image: url('./images/horizontal/pexels-sinarz97-20015727.jpg');  */
    background-size: cover;
    background-repeat: no-repeat;
}

.block_margin_35 {
    width: 75%;
}

table {
    border: 5px double black;
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    border: 2px black;
    border-style: groove;
    padding: 3px 10px;
}

.red {
    color: red;
    font-weight: 900;
}

.green {
    color: green;
    font-weight: 900;
}

#year {
    font-size: 18px;
    padding: 5px 7px;
    /*appearance: none;*/
    /* 清除原生外觀 */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*appearance: none; */
    /* 清除原生外觀 */
    /*background-color: transparent;*/
    /* 背景透明 */
    background-color: rgba(255, 255, 255, 0.5);
    /* 半透明背景 */
    backdrop-filter: blur(10px);
    /* 設置模糊半徑 */
    color: white;
    font-size: larger;
    font-weight: 900;
    text-align: center;
    appearance: none;
    text-shadow: black 0em 0em 0.2em;
}

#month {
    font-size: 18px;
    padding: 5px 7px;
    /*appearance: none;*/
    /* 清除原生外觀 */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*appearance: none; */
    /* 清除原生外觀 */
    /*background-color: transparent;*/
    /* 背景透明 */
    background-color: rgba(255, 255, 255, 0.5);
    /* 半透明背景 */
    backdrop-filter: blur(10px);
    /* 設置模糊半徑 */
    color: white;
    font-size: larger;
    font-weight: 900;
    text-align: center;
    appearance: none;
    text-shadow: black 0em 0em 0.2em;
}

/* 樣式設置 option */
.select option {
    /* background-color: #f1f1f1; */
    /* background:red; */
    color: #333;
    /* background-color: #b1b0b063; */
    padding: 10px;
    backdrop-filter: blur(10px);
    /* text-align: left; */
}

/* 下拉選單打開時的背景顏色 */
.select:focus {
    /* background-color: #e1e1e1; */
    /* background: red; */
    /*backdrop-filter: blur(10px);*/
    /* 設置模糊半徑 */
}

/* 下拉選單的選項 */
.select {
    /*background-color: rgba(255, 255, 255, 0.5);*/
    /* 半透明背景 */
    /*backdrop-filter: blur(10px);*/
    /* 設置模糊半徑 */
}

/* 滑鼠懸停時的選項樣式 */
.select:hover {
    /*background-color: #f0f0f0;*/
    /* 滑鼠懸停時的背景色 */
    /*background-color: rgba(255, 255, 255, 0.5);*/
    /* 半透明背景 */
    /*backdrop-filter: blur(10px);*/
    /* 設置模糊半徑 */
}

.select-date {
    float: right;
    right: 10%;
    position: absolute;
    float: right;
    right: 30%;
    position: absolute;
    top: 19%;
}

.month_btn {
    width: 100%;
    display: inline-block;
    float: left;
}

.next_month_btn {
    width: 3%;
    /* float: left; */
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    text-shadow: black 0.1em 0.1em 0.2em;
    transition: all 0.2s;
    right: 26.5%;
    top: 18%;
    position: absolute;
}

.pre_month_btn {
    width: 3%;
    /* float: right; */
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    text-shadow: black 0.1em 0.1em 0.2em;
    transition: all 0.2s;
    left: 60%;
    top: 18%;
    position: absolute;
}

.pre_month_btn>a,
.next_month_btn>a {
    color: white;
    text-decoration: none;
    font-size: xxx-large;
}

.next_year_btn {
    width: 3%;
    /* float: left; */
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    text-shadow: black 0.15em 0.11em 0.1em;
    transition: all 0.2s;
    right: 24.5%;
    top: 18%;
    position: absolute;
}

.pre_year_btn {
    width: 3%;
    /* float: right; */
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    text-shadow: black 0.15em 0.11em 0.1em;
    transition: all 0.2s;
    left: 58%;
    top: 18%;
    position: absolute;
}

.pre_year_btn>a,
.next_year_btn>a {
    color: white;
    text-decoration: none;
    font-size: xxx-large;
}

.radio input[type="radio"] {
    display: none;
}

.radio input:checked+.button {
    background: #5e7380;
    color: #fff;
    cursor: default;
}

.radio .button {
    display: inline-block;
    /*margin: 0 5px 10px 0; */
    padding: 10px 15px;
    background: #f7f7f7;
    color: #333;
    cursor: pointer;
    font-size: larger;
}

/* .radio .button:hover {background: #bbb; color: #fff; } */

.radio .round {
    border-radius: 5px;
}

.lan_hover {
    background: black !important;
    color: #fff !important;
    font-weight: 900;
    border-style: groove;
}

.language_box {
    position: absolute;
    left: 64%;
    top: 3%;
    /* 12% */
}

.chinese_zodiac {
    ilter: drop-shadow(0px 0px 10px rgba(255, 255, 255, .3));
    width: 70px;
    height: auto;
    /* line-height: 57px; */
    justify-content: center;
    display: inline-flex;
    background-blend-mode: lighten;
    /* background-image: linear-gradient(#fffdfd, #fff); */
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10%;
}

.chinese_zodiac>img {
    width: 100%;
}

.lan-en {
    top: 5.5%;
}

.select-en {
    top: 20.5%;
}

.select2-en {
    top: 19.5%;
}

.block-table {
     width: 722px;
    /*width: 710px;*/
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    transition: .2s all;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.7);
}

.block-table:hover {
    background-color: rgba(0, 0, 0, .1);
    /* backdrop-filter: invert(80%); */
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.7);
}

.item {
    margin-left: -1px;
    /* background-color: darkcyan; */
    margin-top: -1px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid lightgray;
    position: relative;
    transition: all 0.2s;
    color: white;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    /* border-top: 1px solid #9E9E9E;
    border-left: 1px solid #9E9E9E;
    border-right: 5px solid #272626;
    border-bottom: 5px solid #3f3e3e; */
}

.item-header {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: -1px;
    margin-top: -1px;
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    border: 2px solid lightgray;
    text-align: center;
    background-color: #000000b8;
    color: white;
    /* border-right-color: white;
    border-right-style: dashed; */
}

.item:hover {
    /* background: white; */
    transform: scale(1.1);
    font-size: 60px;
    font-weight: bold;
    /* color: gray; */
    transition: all 0.2s;
    z-index: 10;
}

.not-month:hover {
    transform: scale(1);
}

.holiday {
    text-shadow: none;
}

.holiday>.date {
    /* background:pink; */
    font-weight: bold;
    color: red;
    /* text-shadow: none; */
    font-size: x-large;
    text-shadow: white 0.05em 0.05em 0.02em;
}

.date {
    font-size: 26px;
    /* letter-spacing: 2px; */
    text-align: right;
    padding-right: 20px;
    text-shadow: black 0.07em 0.07em 0.05em;
    transition: all 0.2s;
}

.not-month {
    backdrop-filter: invert(1);
    background-color: unset;
    opacity: 0.8;
}

.not-month>.date {
    text-shadow: #9E9E9E 0em 0em 0em;
    color: #c5c5c5;
    /* opacity: 0.8;*/
}

.holiday>.public_holiday {
    /* font-weight: bold; */
    color: red !important;
    text-shadow: none !important;
    font-size: large !important;
    text-shadow: white 0.07em 0.07em 0.05em !important;
}

.weekday>.public_holiday {
    /* font-weight: bold; */
    color: red !important;
    text-shadow: none !important;
    font-size: large !important;
    /* text-shadow: white 0.07em 0.07em 0.05em; */
}

.weekday>.date {
    /* background:pink; */
    font-weight: bold;
    color: red;
    text-shadow: none;
    font-size: x-large;
    text-shadow: white 0.05em 0.05em 0.2em;
}

.public_holiday {
    display: block !important;
    font-size: 14px !important;
    font-weight: 100 !important;
    text-align: center !important;
    letter-spacing: 2px !important;
    padding-right: 0px !important;
}

.main-mark {
    display: block;
    width: 50%;
    margin: 25px auto;
    text-shadow: gray 0.2em 0.2em 0.2em;
}

.main-mark-year {
    font-size: 43px;
    font-family: fantasy;
    letter-spacing: 12px;
    color: white;
    text-align: left;
    text-shadow: black 0.07em 0.07em 0.01em;
}

.main-mark-month {
    font-size: 60px;
    font-family: fantasy;
    letter-spacing: 12px;
    color: white;
    text-align: center;
    font-weight: 900;
    /* margin: 5px; */
    text-shadow: black 0.07em 0.07em 0.01em;
}

.main-mark-time {
    font-size: 40px;
    font-weight: 100;
    font-family: fantasy;
    letter-spacing: 12px;
    color: white;
    text-align: left;
    margin: 15px auto;
}

.year-mark2 {
    color: gray !important;
    text-shadow: white 0em 0em 0.2em !important;
}

.month-mark2 {
    color: gray !important;
    text-shadow: white 0em 0em 0.2em !important;
}

/* .holiday-sunday {
    color:red;
}

.holiday-saturday {
    color:red;
}

.holiday-sunday > .date, .holiday-saturday > .date {
    text-shadow: none;
    text-shadow: #795548 0.05em 0.05em 0.05em;
}

.item:hover > .date{
    font-size: 28px;
} */

.table1 {
    /* text-align: right; */
}

.table2 {
    float: right;
}

.date-color1 {}

.date-color2 {
    color: black;
    text-shadow: #a3a3a3 0.05em 0.05em 0.02em;
}

.l-date-color1 {
    text-shadow: black 0.05em 0.05em 0.07em;
    font-size: 14px !important;
    letter-spacing: 8px;
}

.l-date-color2 {
    color: black;
    text-shadow: initial !important;
    font-size: 14px !important;
    letter-spacing: 8px;
}

.date-today {
    font-size: xxx-large;
}

.year-color1 {}

.year-color2 {
    color: black;
    text-align: right;
    text-shadow: #a3a3a3 0.1em 0.1em 0.2em;
}

.month-color1 {}

.month-color2 {
    color: black;
    text-align: right;
    text-shadow: #a3a3a3 0.1em 0.1em 0.2em;
}

.cz-color1 {}

.cz-color2 {
    color: black;
    text-align: right;
    text-shadow: #a3a3a3 0.1em 0.1em 0.2em;
}

.time-color1 {}

.time-color2 {
    /* margin: 5px; */
    text-align: right;
    color: black;
    text-shadow: #a3a3a3 0.1em 0.1em 0.2em;
}

.mark1 {}

.mark2 {
    width: 98%;
}

.next-btn1 {}

.next-btn2 {
    right: 4%;
}

.pre-btn1 {}

.pre-btn2 {
    left: 46%;
}